@import "./variables.scss";

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    font-size: $fontSizeAnySmall;
    color: $colorGrayV2;
    margin: 0px 2px;

    &:hover {
        color: $colorPrimaryDark;
    }
}

.company {
    @extend .link;
    text-align: center;

    .name {
        color: $colorPrimaryDark;
        font-weight: 600;
        font-size: 14px;
        margin: 0px 4px;
    }
}