@import "./variables.scss";

.section {
    padding: 8px 24px;
}

.colTitle {
    text-transform: uppercase;
    font-size: 21px;
    color: $colorGrayV3;
}

.campaignTitleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .title {
        margin-left: 4px;
        font-size: $fontSizeBodyText;
    }
}

.cellLast {
    border-bottom: none !important;
}