@import "./variables.scss";

.page {
    width: min(70vw, 360px);
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.image {
    width: 64px;
    height: 64px;
    background: $colorGrayV1;
    border-radius: 32px;
    margin-right: 16px;
}

.sub {
    color: $colorGrayV2;
}

.navigation {
    border-top: 1px solid $colorGrayV1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .navItem {
        text-decoration: none;
        padding: 8px;
        color: $colorGrayV3;
        margin: 2px 0px;
        width:100%;
    }

    .navItem:hover,  .navItemActive {
        background: $colorPrimarySurface;
        width: 100%;
        border-radius: 4px;
    }
}