@import "./variables.scss";

.loginWrapper {
    width: 100%;

    * {
        color: $colorGrayV4;
    }
}

.formWrapper {
    border: 1px solid $colorGrayV1;
    padding: 12px 24px;
    border-radius: 2px;
}

.form {}

.socialAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 0px;

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .name {
        font-size: $fontSizeHeading;
        font-weight: 500;
    }

    .btnNotYou {
        border: none;
        font-weight: 600;
        color: $colorPrimary;
        background: transparent;

        &:hover {
            color: $colorPrimaryDark;
        }
    }

    .email {
        font-size: $fontSizeBodyText;
        font-weight: 200;
    }
}

.textAcceptTerms {
    font-weight: 400;
    color: $colorPrimaryDark;
    text-decoration: none;
    font-size: $fontSizeBodyText;

    .link {
        color: $colorPrimary;
        margin: 0px 2px;
    }
}

.btnSubmit {
    border: none;
    background: $colorPrimary;
    transition: all 0.25ms linear;
    width: 100%;
    height: 46px;

    font-weight: bold;
    color: $colorWhite;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .icon {
        margin: 0px 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .text {
        color: $colorWhite;
        margin: 0px 8px;
    }

    &:hover {
        background: $colorPrimaryDark;
    }
}

.callToSignup {
    font-size: $fontSizeBodyText;
    margin-right: 4px;
}

.lined {
    width: 80%;
    height: 2px;
    background: $colorGrayV1;
    position: relative;

    .text {
        position: absolute;
        background: $colorWhite;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2px 24px;
        font-size: $fontSizeBodyText;
    }
}

.googleSignup {
    @extend .btnSubmit;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid $colorGrayV1;

    .icon {
        margin: 0px 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .text {
        color: $colorPrimary;
        margin: 0px 8px;
    }

    &:hover {
        background-color: $colorGrayV1;
    }
}

.signinLink {
    font-size: $fontSizeBodyText;
    text-decoration: none;
    font-weight: 600;
    margin-left: 4px;
}

@media screen and (max-width: 480px) {
    .formWrapper {
        padding: 8px;
    }
}
