
/*
    v1 v2 and so on mean variation 1 variation 2...
*/
:root {
    --color-primary: #012FB7;
    --color-primary-dark: #080C4E;
    --color-primary-surface: #012fb710;

    --color-surface: #fafafa;
    
    --color-gray-v1: #DDDDDD;
    --color-gray-v2: #848484;
    --color-gray-v3: #484848;
    --color-gray-v4: #333333;
    
    --color-white: #FFFFFF;

    --color-success: #279B44;
    --color-error: #c61e39;
    --color-warning: #FFBC00;

    --font-family: 'Poppins', sans-serif;

    --font-size-heading: 16px;
    --font-size-cta-button: 16px;
    --font-size-text-primary: 16px;
    --font-size-body-text: 14px;
    --font-size-any-small: 12px;

    --header-height: 76px;

    --surface-corner-radius: 8px;
}