@import "./variables.scss";

.toolbar {
    width: 100%;
    height: $headerHeight;
    padding: 0px 15%;
    background: $colorWhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .title {
        font-weight: bold;
    }
}

.actions {
    flex-grow: 1;
    height: 100%;
    margin: 0%;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.searchInput {
    flex-grow: calc(2 / 3);
    border-radius: 4px;
    padding: 8px 8px;
    margin: 0px 24px;
    background: $colorSurface;

    path {
        fill: $colorGrayV2;
    }

    input {
        margin-left: 4px;
        font-size: $fontSizeBodyText;
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navigationItem {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $colorGrayV3;
    height: $headerHeight;
    padding: 4px 16px;
    border-bottom: 4px solid transparent;

    .icon {
        width: 100%;
        height: 28px;
        text-align: center;
    }

    .title {
        font-weight: 500;
        text-align: center;
        font-size: $fontSizeBodyText;
        display: inline-block;
        white-space: nowrap;
    }

    &:hover {
        background: $colorSurface;
    }

    &.navigationItemActive {
        border-bottom: 4px solid $colorGrayV2;
    }
}

.me {
    border: none;
    height: 100%;
    width: auto;
    padding: 0px 16px;
    background: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .picture {
        border-radius: 24px;
        background: $colorSurface;
        height: 28px;
        width: 28px;
    }

    .titleWrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .title {
            margin: 0px 8px;
        }
    }
}


.drawer_menu {
    width: 320px;
    height: 100%;
    padding: 0px;
    box-shadow: 1px 1px 4px #00000060;
    background-color: $colorWhite;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .searchInput {
        margin: 8px;
    }

    .navigation {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .navigationItem {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border-bottom: none;
            height: 46px;

            .icon {
                flex-grow: 0;
                width: auto;
            }

            .title {
                margin-left: 8px;
            }

            &:hover {
                background: $colorSurface;
            }
        
            &.navigationItemActive {
                background: $colorPrimary;
                
                .icon {

                    * {
                        fill: white;
                    }

                }

                .title {
                    color: $colorWhite;
                }
            }

        }
    }

    .me {
        display: none;
    }
}

@media screen and (max-width: 1410px) {
    .toolbar {
        padding: 0% 10%;
    }
}

@media screen and (max-width: 1230px) {
    .toolbar {
        padding: 0px 16px;
    }
}

@media screen and (max-width: 1080px) {
    .toolbar {
        padding: 0px 4px;
    }
}

@media screen and (max-width: 996px) {
    .toolbar {
        height: auto;
        padding: 0px;

        justify-content: space-around;
    }

    .logoWrapper {
        padding: 8px 8px;
    }

    .actions {
        flex-grow: calc(2/3);
        padding: 0px 8px;
        justify-content: center;
    }

    .searchInput {
        flex-grow: calc(2/3);
        margin: 0px 0px;
    }
}

@media screen and (max-width: 780px) {

    .toolbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 8px 0px;
    }

    .actions {
        flex-grow: 0;
        width: 100%;
    }

    .logoWrapper {
        .title {
            margin-left: 8px;
        }
    }
}
